<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Mutifile</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="/batch/upload" id="uploadWin">
        <p>文件1：<input type="file" name="file" /></p>
        <p>文件2：<input type="file" name="file" /></p>
        <p>文件3：<input type="file" name="file" /></p>
        <p><input type="submit" value="上传" /></p>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $("#uploadWin")[0].reset();
        });
    </script>
</body>
</html>