<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.main.manager.SysPersonManager">

    <sql id="base_column_list">
       	id,
        status,
        enabled,
        create_time AS createTime,
        create_user_name AS createUserName,
        update_time AS updateTime,
        update_user_name AS updateUserName,
        username,
        password,
        age,
        sex
    </sql>

    <select id="findAll" resultType="com.main.entity.SysPerson">
        SELECT <include refid="base_column_list" /> FROM sys_person
    </select>

</mapper>
