spring:
  datasource: #使用 datasource.druid.master 这种名称方式会报错(原因:1 可能是含有druid名称,2 可能是不支持多级命名)
    master:
      url: jdbc:mysql://localhost:3306/demo?useUnicode=true&characterEncoding=UTF-8&useSSL=true
      username: root
      password: root
      driver-class-name: com.mysql.jdbc.Driver
    slave:
      url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=UTF-8&useSSL=true
      username: root
      password: root
      driver-class-name: com.mysql.jdbc.Driver
#mybatis:  #配置为多数据源的时候这些配置需要在每个数据源里面单独配置
#  type-aliases-package: com.main.entity.*
#  mapper-locations: classpath*:mapper/**Mapper.xml
#  config-location: classpath:mybatis/mybatis-config.xml
